<div class="row">
    <div class="columns">
        <div class="col-1">
            <b>{{skill.name}}</b>
        </div>
        <div class="col">
            <b>CHECK</b>: {{skill.check}}
        </div>
        <div class="col-1">
            <b>COST</b>: {{(skill.cost === "") ? "/" : skill.cost}}
        </div>
    </div>
</div>
<div class="row">
    <div>{{skill.description}}</div>
</div>