<a routerLink="/" routerLinkActive="active"><img id="mainImg" src="../../assets/log_horizon_logo.png"></a>
<div class="row center">
    <a routerLink="/skills-component" routerLinkActive="active">skill</a>
</div>
<div class="row center">quest</div>
<div class="row center">equipment</div>
<div class="row center">inventory</div>