#mainImg {
    width: 20vw;
    
    top: 50%;
    left: 50%;
    margin-top: -10vw;
    margin-left: -10vw;
    position: absolute;

    border-radius: 100%;
}

.button {
    height: 10vw;
    width: 25vw;
}

.buttonLeft {
    height: 50%;
    width: 20%;

    transform: rotate(45deg);
    transform-origin: 0% 100%;

    top: 50%;

    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    background-color: white;
}

.buttonText {
    height: 50%;
    width: 80%;

    top: 50%;
    left: 20%;
    margin-bottom: 2px;
    border: 5px solid black;
}