<div class="columns">
    <div class="col-2">
        <input type="text" [(ngModel)]="skillFilter"/>
    </div>
    <div class="col" *ngIf="display">
        <app-skill *ngFor="let skill of filteredSkills | skillsFilter:skillFilter" [skill]="skill"></app-skill>
    </div>
</div>