/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.rows {
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.columns > .col {
    flex: 1 1 0%;
    max-width: 100%;
}

.columns > .col-1 {
    flex: 1 1 10%;
    min-width: 15em;
    max-width: 10%;
}

.columns > .col-2 {
    flex: 1 1 20%;
    min-width: 15em;
    max-width: 20%;
}

.columns > .col-3 {
    flex: 1 1 30%;
    min-width: 15em;
    max-width: 30%;
}

.columns > .col-4 {
    flex: 1 1 40%;
    min-width: 15em;
    max-width: 40%;
}

.columns > .col-5 {
    flex: 1 1 50%;
    min-width: 15em;
    max-width: 5%;
}

.columns > .col-6 {
    flex: 1 1 60%;
    min-width: 15em;
    max-width: 60%;
}

.columns > .col-7 {
    flex: 1 1 70%;
    min-width: 15em;
    max-width: 70%;
}

.columns > .col-8 {
    flex: 1 1 80%;
    min-width: 15em;
    max-width: 80%;
}

.columns > .col-9 {
    flex: 1 1 90%;
    min-width: 15em;
    max-width: 90%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}